.low, .medium, .high {
    padding: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.low {
    color: #00cc66;
    border-radius: 10px;
    border: 1px solid #00cc66;
}

.medium {
    color:  #ffcc00;
    border-radius: 10px;
    border: 1px solid #ffcc00;
}

.high {
    color: #cc0000;
    border-radius: 10px;
    border: 1px solid #cc0000;
}